& {
	background-image: url("../bg.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width:100%
    height:100%
}

.selectFemaleBg{
	background-image: url("./select-female.png")
	opacity: 1.0
	transition: opacity 0.4s
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width:100%
    height:100%
    position:absolute;
	left:0
	top:0
}

.selectMaleBg{
	background-image: url("./select-male.png")
	opacity: 0.0
	transition: opacity 0.4s
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    width:100%
    height:100%
    position:absolute;
	left:0
	top:0
}

.frontImg{
	background-image: url("./select-front.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	position:absolute;
	left:0
	top:0
	width:100%
	height:100%
}

.left{
	width:40%
	height:100%
	float:left
}

.right{
	width:40%
	height:100%
	float:right
}

.okImg{
	position:absolute
	left:30%
	top:55%
	width:35%
	height:10%
}

.logoImg{
	position:absolute
	left:2%
	top:4%
	width:12.5%
}